body {
  padding: 0;
  margin: 0;

  background: #000;
  font-family: sans-serif;
}

#form {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1em;
  color: #fff;
}

#form label:first-child {
  display: inline-block;
  width: 0.6em;
}

#form input[type="range"] {
  width: 10em;
  text-align: right;
  margin-right: 1em;
  font-size: 16px;
}

.param__display {
  display: inline-block;
  width: 3em;
}

a {
  color: #999;
  text-decoration: none;
}

a:hover {
  color: #000;
  text-decoration: underline;
}
