body {
  padding: 0;
  margin: 0;

  background: #000;
  font-family: sans-serif;
}

#control {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1em;
  color: #fff;
}

#control input {
  width: 10em;
  text-align: right;
  margin-right: 1em;
}

a {
  color: #999;
  text-decoration: none;
}

a:hover {
  color: #000;
  text-decoration: underline;
}
